@page "/"

<PageTitle>Home</PageTitle>

<h3>Welcome to ConcertBooking!</h3>
<br />
<span>This is a live music on-demand website to book a concert.</span>
<br />
<span>You aren't logged in. Please <a class="fw-bolder" href="/Login">click here</a> to login.</span>