@page "/access-denied"

<PageTitle>Account - Access denied</PageTitle>

<h3>Access Denied</h3>
<br />
<div>
    <p class="text-danger">You don't have permission to access this page</p>
</div>

@code {

}
