@page "/song-request/{id:int?}"
@using Concert.Business.Models.View
@using Concert.DataAccess.InMemory.Repositories
@using Concert.UIWasm.Data

<PageTitle>Song requests - Add/Edit</PageTitle>

@inject NavigationManager NavigationManager
@inject IWebApiExecuter WebApiExecuter

@if (Id.HasValue)
{
    <h3>Edit Song request</h3>
}
else
{
    <h3>Add Song request</h3>
}
<br />
@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div>
        <p class="text-danger">@ErrorMessage</p>
    </div>
}
@if (songRequest is not null)
{
    <EditForm Model="songRequest" FormName="formSongRequest" OnValidSubmit="Submit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        @if (songRequest.Id > 0)
        {
            <InputNumber @bind-Value="songRequest.Id" hidden></InputNumber>
        }

        <FieldComponent Label="Artist">
            <Control>
                <InputText @bind-Value="songRequest.Artist" class="form-control"></InputText>
            </Control>
            <ValidationControl>
                <ValidationMessage For="() => songRequest.Artist"></ValidationMessage>
            </ValidationControl>
        </FieldComponent>
        <FieldComponent Label="Title">
            <Control>
                <InputText @bind-Value="songRequest.Title" class="form-control"></InputText>
            </Control>
            <ValidationControl>
                <ValidationMessage For="() => songRequest.Title"></ValidationMessage>
            </ValidationControl>
        </FieldComponent>
        <FieldComponent Label="Genre">
            <Control>
                <InputText @bind-Value="songRequest.Genre" class="form-control"></InputText>
            </Control>
            <ValidationControl>
                <ValidationMessage For="() => songRequest.Genre"></ValidationMessage>
            </ValidationControl>
        </FieldComponent>
        <FieldComponent Label="Language">
            <Control>
                <InputText @bind-Value="songRequest.Language" class="form-control"></InputText>
            </Control>
            <ValidationControl>
                <ValidationMessage For="() => songRequest.Language"></ValidationMessage>
            </ValidationControl>
        </FieldComponent>
        <br />
        @if (songRequest.Id > 0)
        {
            <button class="btn btn-primary" type="submit">Update</button>
        }
        else
        {
            <button class="btn btn-primary" type="submit">Save</button>
        }
        &nbsp;
        <a href="/song-requests" class="btn btn-primary">Close</a>
    </EditForm>
}

@code {
    [Parameter]
    public int? Id { get; set; }

    private string? ErrorMessage;

    [SupplyParameterFromForm]
    private SongRequestView? songRequest { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            if (Id.HasValue)
            {
                songRequest ??= await WebApiExecuter.InvokeGet<SongRequestView>($"songrequests/{this.Id.Value}");
            }
            else
            {
                songRequest ??= new SongRequestView();
            }
            ErrorMessage = string.Empty;
        }
        catch (WebApiException ex)
        {
            // @todo handle exception
            ErrorMessage = ex?.ProblemDetails?.Title;
        }
    }

    private async Task Submit()
    {  
        try
        {
            if (songRequest is not null)
            {
                if (this.Id.HasValue)
                {
                    await WebApiExecuter.InvokePut<SongRequestView>($"songrequests/{this.Id.Value}", songRequest);
                }
                else
                {
                    await WebApiExecuter.InvokePost<SongRequestView>($"songrequests", songRequest);
                }
            }
            ErrorMessage = string.Empty;
            NavigationManager.NavigateTo("/song-requests");
        }
        catch (WebApiException ex)
        {
            // @todo handle exception
            ErrorMessage = ex?.ProblemDetails?.Title;
        }
    }
}